*.ngr
*.exe
*.html
*.cmd
*.log
*.xmsgs
*.wdb
*.ini
*.prj
*.gise
*.xst
*.stx
*.bgn
*.bit
*.bld
*.cmd_log
*.drc
*.lso
*.ncd
*.ngd
*.ngc
*.pad
*.par
*.pcf
*.ptwx
*.syr
*.twr
*.twx
*.unroutes
*.ut
*.xpi
*.xwbt
*.map
*.mrp
*.ngm
*.xrpt
*.csv
*.xml
